<div class="toolbar">
	<h1 id="pageTitle">
		Saturday Schedule
	</h1>
</div>

<table cellpadding="5" border="1">
	<tr>
		<th>Time</th>
		<th>Presentation</th>
		<th>Presentor(s)</th>
	</tr>
	<tr>
		<td>9:00 AM</td>
		<td>Welcome</td>
		<td>JR Fent, Coby Randquist</td>
	</tr>
	<tr>
		<td>9:15 AM</td>
		<td>Oh S***: How to bring a big Rails website down (and how not to)</td>
		<td>Time Morgan</td>
	</tr>
	<tr>
		<td>10:05 AM</td>
		<td>Alternative Data Structures in Ruby</td>
		<td>Tyler McMullen</td>
	</tr>
	<tr>
		<td>10:55 AM</td>
		<td>Indoctrinating the Next Generation: Teaching Ruby to Kids</td>
		<td>Sarah Mei</td>
	</tr>
	<tr>
		<td>11:45 AM</td>
		<td>Everything you ever wanted to know about threads and fibers, but were afraid to ask.</td>
		<td>Joe Damato</td>
	</tr>
	<tr>
		<td>12:25 PM</td>
		<td>Lunch</td>
		<td></td>
	</tr>
	<tr>
		<td>1:30 PM</td>
		<td>New Relic Presentation</td>
		<td></td>
	</tr>
	<tr>
		<td>1:50 PM</td>
		<td>Civic Hacking</td>
		<td>Luigi Montanez</td>
	</tr>
	<tr>
		<td>2:40 PM</td>
		<td>Garbage Collection and the Ruby Heap</td>
		<td>Aman Gupta</td>
	</tr>
	<tr>
		<td>3:30 PM</td>
		<td>A New Look at Software Development: What will the next 10 years bring?</td>
		<td>Dave Astels</td>
	</tr>
	<tr>
		<td>4:20 PM</td>
		<td>Mobile Ruby</td>
		<td>Sarah Allen</td>
	</tr>
	<tr>
		<td>5:10 PM</td>
		<td>Keynote address</td>
		<td>Richard Kilmer</td>
	</tr>
	<tr>
		<td>6:15 PM</td>
		<td>Dinner (on your own)</td>
		<td></td>
	</tr>
	<tr>
		<td>8:00 PM</td>
		<td>Wine Fest</td>
		<td>JR Fent</td>
	</tr>
	
	
</table>