<div class="toolbar">
	<h1 id="pageTitle">
		Schedule
	</h1>
</div>
<style type="text/css">
.schedule td, .schedule th {
	width: 100%;
}
.schedule tr.header > th {
	border: none;
}

span.bold {
	font-weight: bold;
}

</style>

<% if System::get_property('platform') == 'Blackberry' %>
<table class="schedule" cellpadding="5" border="1" cellspacing="0">
	<tr class="header">
		<th></th>
		<th>Thursday</th>
		<th></th>
	</tr>
	<tr>
		<td><span class="bold">8:00 - 9:00</span> Registration</td>
	</tr>
	<tr>
		<td><span class="bold">9:00 - 9:15</span> Welcome</td>
	</tr>
	<tr>
		<td><span class="bold">9:15 - 10:00</span> Giles Bowkett - Archaeopteryx: Lambdas In Detail</td>
	</tr>
	<tr>
		<td><span class="bold">10:00 - 10:30</span> James Golick - Cooking with Chef - Your servers will thank you</td>
	</tr>
	<tr>
		<td><span class="bold">10:30 - 11:00</span> Wayne E. Seguin - Managing ruby projects with rvm</td>
	</tr>
	<tr>
		<td><span class="bold">11:00 - 1:00</span> Lunch</td>
	</tr>
	<tr>
		<td><span class="bold">1:00 - 1:30</span> Michael J. I. Jackson - Rack for web developers</td>
	</tr>
	<tr>
		<td><span class="bold">1:30 - 2:15</span> Yehuda Katz - Writing Modular Ruby Code: Lessons Learned from Rails 3</td>
	</tr>
	<tr>
		<td><span class="bold">2:15 - 2:45</span> Paul Sadauskas - How HTTP Already Solved All Your Performance Problems 10 Years Ago</td>
	</tr>
	<tr>
		<td><span class="bold">2:45 - 3:00</span> Break</td>
	</tr>
	<tr>
		<td><span class="bold">3:00 - 3:30</span> Gregory Brown - I was wrong about Ruport</td>
	</tr>
	<tr>
		<td><span class="bold">3:30 - 4:00</span> Loren Segal - Documentation and the Whole Nine YARDs</td>
	</tr>
	<tr>
		<td><span class="bold">4:00 - 4:45</span> Jeff Casimir - Dynamic Generation of Images and Video with Ruby-Processing</td>
	</tr>
	<tr>
		<td><span class="bold">4:45 - 5:00</span> Break</td>
	</tr>
	<tr>
		<td><span class="bold">5:00 - 6:00</span> Lightning Talks</td>
	</tr>
	<tr class="header">
		<th></th>
		<th>Friday</th>
		<th></th>
	</tr>
	<tr>
		<td><span class="bold">8:00 - 9:00</span> Registration</td>
	</tr>
	<tr>
		<td><span class="bold">9:00 - 9:15</span> Welcome</td>
	</tr>
	<tr>
		<td><span class="bold">9:15 - 10:00</span> Matz - Whatever he wants to talk about</td>
	</tr>
	<tr>
		<td><span class="bold">10:00 - 10:30</span> Caleb Clausen - Ruby Macros</td>
	</tr>
	<tr>
		<td><span class="bold">10:30 - 11:00</span> Jeremy Evans - Ruby Techniques By Example</td>
	</tr>
	<tr>
		<td><span class="bold">11:00 - 1:00</span> Lunch</td>
	</tr>
	<tr>
		<td><span class="bold">1:00 - 1:30</span> James Britt - Hubris: The Ruby/Haskell Bridge</td>
	</tr>
	<tr>
		<td><span class="bold">1:30 - 2:15</span> Sarah Allen - Mobile Ruby</td>
	</tr>
	<tr>
		<td><span class="bold">2:15 - 2:45</span> Kyle Banker - MongoDB Rules</td>
	</tr>
	<tr>
		<td><span class="bold">2:45 - 3:00</span> Break</td>
	</tr>
	<tr>
		<td><span class="bold">3:00 - 3:30</span> Joe Damato - Descent into Darkness: Understanding your system's binary interface is the only way out</td>
	</tr>
	<tr>
		<td><span class="bold">3:30 - 4:00</span> Pat Maddox - A tale of two codebases</td>
	</tr>
	<tr>
		<td><span class="bold">4:00 - 4:45</span> Aman Gupta - EventMachine</td>
	</tr>
	<tr>
		<td><span class="bold">4:45 - 5:00</span> Break</td>
	</tr>
	<tr>
		<td><span class="bold">5:00 - 6:00</span> Lightning Talks</td>
	</tr>
	
</table>
<% else %>
<table class="schedule" cellpadding="5" border="1" cellspacing="0">
	<tr class="header">
		<th></th>
		<th>Thursday</th>
		<th></th>
	</tr>
	<tr>
		<th>Time</th>
		<th>Presentation</th>
		<th>Presenter(s)</th>
	</tr>
	<tr>
		<td>8:00 AM</td>
		<td>Registration</td>
		<td></td>
	</tr>
	<tr>
		<td>9:00 AM</td>
		<td>Welcome</td>
		<td></td>
	</tr>
	<tr>
		<td>9:15 AM</td>
		<td>Archaeopteryx: Lambdas In Detail</td>
		<td>Giles Bowkett</td>
	</tr>
	<tr>
		<td>10:00 AM</td>
		<td>Cooking with Chef</td>
		<td>James Golick</td>
	</tr>
	<tr>
		<td>10:30 AM</td>
		<td>Managing ruby projects with rvm</td>
		<td>Wayne E. Seguin</td>
	</tr>
	<tr>
		<td>11:00 AM</td>
		<td>Lunch</td>
		<td></td>
	</tr>
	<tr>
		<td>1:00 PM</td>
		<td>Rack for web developers</td>
		<td>Michael J. I. Jackson</td>
	</tr>
	<tr>
		<td>1:30 PM</td>
		<td>Writing Modular Ruby Code: Lessons Learned from Rails 3</td>
		<td>Yehuda Katz</td>
	</tr>
	<tr>
		<td>2:15</td>
		<td>How HTTP Already Solved All Your Performance Problems 10 Years Ago</td>
		<td>Paul Sadauskas</td>
	</tr>
	<tr>
		<td>2:45 PM</td>
		<td>Break</td>
		<td></td>
	</tr>
	<tr>
		<td>3:00 PM</td>
		<td>I was wrong about Ruport</td>
		<td>Gregory Brown</td>
	</tr>
	<tr>
		<td>3:30 PM</td>
		<td>Documentation and the Whole Nine YARDs</td>
		<td>Loren Segal</td>
	</tr>
	<tr>
		<td>4:00 PM</td>
		<td>Dynamic Generation of Images and Video with Ruby-Processing</td>
		<td>Jeff Casimir</td>
	</tr>
	<tr>
		<td>4:45 PM</td>
		<td>Break</td>
		<td></td>
	</tr>
	<tr>
		<td>5:00 PM</td>
		<td>Lightning Talks</td>
		<td></td>
	</tr>
	<tr class="header">
		<th></th>
		<th>Friday</th>
		<th></th>
	</tr>
	<tr>
		<th>Time</th>
		<th>Presentation</th>
		<th>Presenter(s)</th>
	</tr>
	<tr>
		<td>8:00 AM</td>
		<td>Registration</td>
		<td></td>
	</tr>
	<tr>
		<td>9:00 AM</td>
		<td>Welcome</td>
		<td></td>
	</tr>
	<tr>
		<td>9:15 AM</td>
		<td>Whatever he wants to talk about</td>
		<td>Matz</td>
	</tr>
	<tr>
		<td>10:00 AM</td>
		<td>Ruby Macros</td>
		<td>Caleb Clausen</td>
	</tr>
	<tr>
		<td>10:30 AM</td>
		<td>Ruby Techniques By Example</td>
		<td>Jeremy Evans</td>
	</tr>
	<tr>
		<td>11:00 AM</td>
		<td>Lunch</td>
		<td></td>
	</tr>
	<tr>
		<td>1:00 PM</td>
		<td>Hubris: The Ruby/Haskell Bridge</td>
		<td>James Britt</td>
	</tr>
	<tr>
		<td>1:30 PM</td>
		<td>Mobile Ruby</td>
		<td>Sarah Allen</td>
	</tr>
	<tr>
		<td>2:15 PM</td>
		<td>MongoDB Rules</td>
		<td>Kyle Banker</td>
	</tr>
	<tr>
		<td>2:45 PM</td>
		<td>Break</td>
		<td></td>
	</tr>
	<tr>
		<td>3:00 PM</td>
		<td>Descent into Darkness</td>
		<td>Joe Damato</td>
	</tr>
	<tr>
		<td>3:30 PM</td>
		<td>A tale of two codebases</td>
		<td>Pat Maddox</td>
	</tr>
	<tr>
		<td>4:00 PM</td>
		<td>EventMachine</td>
		<td>Aman Gupta</td>
	</tr>
	<tr>
		<td>4:00 PM</td>
		<td>Break</td>
		<td></td>
	</tr>
	<tr>
		<td>5:00 PM</td>
		<td>Lightning Talks</td>
		<td></td>
	</tr>
</table>
<% end %>