<div class="toolbar">
	<h1 id="pageTitle">
		People
	</h1>
</div>

<ul id="people" title="People" selected="true">
  	<a class="button right_button" href="Person/new" target="_self">New</a>
	<%@people.each do |x|%>
	
	<li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>
	
	<%end%>
</ul>